footer {
  margin: 5em 0;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.footer-left p {
  color: whitesmoke;
}

.footer-mid {
}

.footer-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}

.footer-right a {
  background: #f87537;
  padding: 10px;
  border-radius: 4px;
}

.footer-right a svg {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 600px) {
  .footer-main {
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .footer-left {
    text-align: center;
  }
}
