
/* -- vars */
:root {
  --bg-color: white;
  --color: #000000 ;
  --default-size: 1em;
  --label-font-size: calc(1em / 4);
  --label-font-size-redo: calc(1em * 4);
}

/* -- mixins */
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes rotate-reverse {
  to {
    transform: rotate(-1turn);
  }
}

/* -- selectors */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.set-size {
  font-size: 10em;
}
.charts-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin: auto;
}
.charts-container::after {
  clear: both;
  content: '';
  display: table;
}

.pie-wrapper {
  height: var(--default-size);
  width: var(--default-size);
  float: left;
  margin: 15px;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, var(--default-size), var(--default-size), calc(var(--default-size) / 2));
    left: 0;
    position: absolute;
    top: 0;
  }

  .half-circle {
    height: 100%;
    width: 100%;
    border: calc(var(--default-size) / 10) solid #3498db;
    border-radius: 50%;
    clip: rect(0, calc(var(--default-size) / 2), var(--default-size), 0);
    left: 0;
    position: absolute;
    top: 0;
  }

  .label {
    background: var(--bg-color);
    font-size: 28px;
    border-radius: 50%;
    bottom: calc(var(--label-font-size-redo) / 10);
    color: black;
    cursor: default;
    display: block;
    font-size: var(--label-font-size);
    left: calc(var(--label-font-size-redo) / 10);
    line-height: calc(var(--label-font-size-redo) * 1.15);
    position: absolute;
    right: calc(var(--label-font-size-redo) / 10);
    text-align: center;
    top: calc(var(--label-font-size-redo) / 10);
  }

  .label .smaller {
    color: black;
    font-size: 0.45em;
    padding-bottom: 20px;
    vertical-align: super;
  }

  .shadow {
    height: 100%;
    width: 100%;
    border: calc(var(--default-size) / 10) solid #00d0ff;
    border-radius: 50%;
  }

  &.style-2 .label {
    background: none;
    color: #fff;
    font-size: 28px;
  }

  &.style-2 .label .smaller {
    color: #bdc3c7;
  }

  &.progress-45 .pie .half-circle {
    border-color: #ffffff;
  }

  &.progress-45 .pie .left-side {
    transform: rotate(162deg);
  }

  &.progress-60 .pie .half-circle {
    border-color: #ffffff;
  }

  &.progress-60 .pie .left-side {
    transform: rotate(222deg);
  }

  &.progress-75 .pie .half-circle {
    border-color: #ffffff;
  }

  &.progress-75 .pie .left-side {
    transform: rotate(270deg);
  }

  &.progress-95 .pie .half-circle {
    border-color: #ffffff;
  }

  &.progress-95 .pie .left-side {
    transform: rotate(342deg);
  }
  &.progress-99 .pie .left-side {
    transform: rotate(1deg);
  }
  &.progress-99 .pie .half-circle {
    border-color: #ffffff;
  }

}

.skill-other {
  width: 100%;
  background: inherit;
}

.skill-other div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: auto;
  margin-bottom: 30px;
  background: inherit;
  flex-direction: column;
}

.skill-other div  h1{
  font-size: 30px;
}

.skill-other div ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 1.5;

}

@media screen and (min-width: 1900px) and (max-width: 2560px) {
  @media  screen and (max-width: 768px) {
    :root {
      --bg-color: white;
      --color: #000000 ;
      --default-size: 1.5em;
      --label-font-size: calc(1.5em / 4);
      --label-font-size-redo: calc(1.5em * 4);
    }
  
    .charts-container {
      display: grid;
      grid-template-columns:auto auto auto auto auto auto auto;
      width: 90%;
      margin: auto;
  }
  .charts-container::after {
    clear: both;
    content: '';
    display: table;
  }
  
  .pie-wrapper {
    .label {
      top: calc(var(--label-font-size-redo) / 2);
    }
  
  
    &.style-2 .label {
      font-size: 22px;
    }
  
    &.style-2 .label .smaller {
      color: #bdc3c7;
    }
  }
}
}
@media  screen and (max-width: 768px) {
    :root {
      --bg-color: white;
      --color: #000000 ;
      --default-size: 0.8em;
      --label-font-size: calc(0.8em / 4);
      --label-font-size-redo: calc(0.8em * 4);
    }
  
    .charts-container {
      display: grid;
      grid-template-columns:auto auto auto auto;
      width: 90%;
      margin: auto;
  }
  .charts-container::after {
    clear: both;
    content: '';
    display: table;
  }
  
  .pie-wrapper {
    .label {
      top: calc(var(--label-font-size-redo) / 4);
    }
  
  
    &.style-2 .label {
      font-size: 22px;
    }
  
    &.style-2 .label .smaller {
      color: #bdc3c7;
    }
  }
}

@media screen and (max-width: 500px) {
  :root {
    --bg-color: white;
    --color: #000000 ;
    --default-size: 0.8em;
    --label-font-size: calc(0.8em / 4);
    --label-font-size-redo: calc(0.8em * 4);
  }

  .charts-container {
    display: grid;
    grid-template-columns:auto auto ;
    width: 90%;
    margin: auto;
}
.charts-container::after {
  clear: both;
  content: '';
  display: table;
}

.pie-wrapper {
  .label {
    top: calc(var(--label-font-size-redo) / 4);
  }


  &.style-2 .label {
    font-size: 22px;
  }

  &.style-2 .label .smaller {
    color: #bdc3c7;
  }
}

.skill-other div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background: inherit;
  flex-direction: column;
  margin: auto;
}

}

@media screen and (max-width: 375px) {
  :root {
    --default-size: 0.7em;
    --label-font-size: calc(0.7em / 4);
    --label-font-size-redo: calc(0.7em * 4);
  }

  .charts-container {
    display: grid;
    grid-template-columns:auto auto ;
}

.pie-wrapper {
  .label {
    top: calc(var(--label-font-size-redo) / 1.5);
  }


  &.style-2 .label {
    font-size: 15px;
  }
}
}

@media screen and (max-width: 320px) {

  :root {
    --default-size: 0.5em;
    --label-font-size: calc(0.5em / 4);
    --label-font-size-redo: calc(0.5em * 4);
  }
  .charts-container {
    display: grid;
    grid-template-columns:auto auto ;
}

.pie-wrapper {
  .label {
    top: calc(var(--label-font-size-redo) / 1.5);
  }
  &.style-2 .label {
    font-size: 15px;
  }

}


.skill-other div {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background: inherit;
  flex-direction: column;
}

}