header {
  background: inherit !important;
}
.desktop-nav {
  display: none;
}
@media screen and (min-width: 800px) {
  .nar-m-menu {
    display: none;
  }

  .desktop-nav {
    display: block;
    width: 90%;
    margin: auto;
  }

  .desktop-menu {
    display: flex;
    background-color: inherit;
    height: 130px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  .desktop-nav-logo {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    margin-left: 3rem;
  }

  .desktop-nav-logo svg {
    width: 195px;
  }
  .desktop-nav-list {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: nowrap;
  }

  .desktop-nav a {
    color: white !important;
    padding-bottom: 5px !important;
  }

  .desktop-nav a:hover {
    color: #fba81f !important;
    border-bottom: 2.5px solid aqua !important;
  }
}
