.contact-cont {
  margin: 3em 0;
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .contact-cont {
    width: 80%;
  }
}

.contact-cont form {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.contact-cont input {
  height: 40px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 0 10px;
  background: none;
  color: white;
  outline: none;
}
.contact-cont textarea {
  min-height: 150px;
  max-height: 400px;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 5px;
}
