.ben_port {
  display: block;
  width: 90%;
  margin: auto;
}

.bp-head {
}

.bp-breadcrumb {
  display: block;
  margin: 4em 0;
  display: flex;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  position: relative;
}

.bp-bc-left {
  flex-shrink: 1;
  flex-basis: 1;
  flex: 0.3;
}

.bp-img {
  position: absolute;
  left: -10%;
  top: 6%;
  z-index: -9;
}
.bp-bc-left h1 {
  font-size: 45px;
  /* background: var(--text-clip-bg); */
}
.bp-bc-right {
  flex-grow: 1;
  flex: 0.6;
}

.bp-work {
  padding: 5em 0;
}
.bp-w-head {
  display: block;
  text-align: center;
  margin-bottom: 4em;
  padding: 6em 0;
}
.bp-w-head h1 {
  font-size: 5em;
}

/* Breakpoints */
@media (max-width: 768px) {
  .bp-img {
    width: 100%;
    left: 4%;
  }
  .ben_port {
    width: 95%;
  }
  .bp-breadcrumb {
    display: flex;
    flex-direction: column;
  }
  .bp-w-head {
    padding: 4em 0;
  }
  .bp-w-head h1 {
    font-size: 3em;
  }
  .bp-bc-left,
  .bp-bc-right {
    flex: 1;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1400px) {
}
