.ports {
  margin: 2rem 0;
}

.port-header {
  margin-top: 1rem;
}

.port-header-cont {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.port-header-cleft {
  display: flex;
  flex: 0.7;
  flex-shrink: 1;
}

.port-header-cleft span h2 {
  font-family: var(--font-primary);
  background: var(--text-clip-bg);
  font-size: 40px;
}

.port-header-cright {
  display: flex;
  flex: 0.2;
}

.port-header-cright span {
  min-width: 100px;
  width: 80px;
  height: 100px;
  border: 3px solid #f87537;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-top-right-radius: 0;
}

.port-prev {
  display: block;
  margin-top: 6rem;
}

.port-prev-grid {
  display: grid;
  gap: 5em;
  grid-template-columns: repeat(2, 1fr);
}

.port-prev-grid :nth-child(2n) {
  margin-top: 3rem;
}
.p-port-gcont {
  display: block;
}

.p-port-gcont a img {
  width: 100%;
  height: auto;
  max-height: 500px;
  transform: skew(1deg, 0deg);
}
.p-port-gbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
}

/* Breakpoints */
@media (max-width: 576px) {
  .port-prev-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .port-header-cright {
    display: none;
  }
  .port-header-cleft {
    flex: 1;
  }
  .port-prev-grid :nth-child(2n) {
    margin-top: 1rem;
  }
  .p-port-gbody span h1 {
    text-align: left;
  }
}

@media (max-width: 768px) {
}
