.header-bg {
  background: linear-gradient(
    90deg,
    #00002c,
    #00001a,
    #000000,
    #000000,
    #000000
  );
}
.nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.menu {
  padding-top: 50px;
}
.menu span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu span svg {
  height: 40px;
  width: 40px;
}
@media screen and (max-width: 1100px) {
  .nav {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .nav {
    width: 60%;
  }
}
.nav a {
  text-decoration: none;
  font-size: 20px;
}
.nav a:hover {
  color: goldenrod;
}

.nav a:active {
  color: goldenrod;
}
.header {
  display: flex;
  width: 90%;
  margin: auto;
  color: white;
}

.left {
  flex: 0.6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.head-greeting {
  font-size: 50px;
  font-weight: 100;
  font-family: "Anton", sans-serif;
}
.head-name {
  font-size: 40px;
}


@media screen and (max-width: 500px) {
  .head-greeting {
    padding-bottom: 30px;
  }
  .head-name {
    font-size: 35px;
    text-align: center;
  }
}
.head-dis {
  padding-top: 15%;
  font-size: 18px;
  font-family: "Alegreya", serif;
}
.head-button {
  margin-top: 30px;
}
.head-button button {
  padding: 10px;
  width: 180px;
  height: 60px;
  border: none;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgb(6, 6, 123);
  color: white;
  box-shadow: #fff 5px 6px 0px 0px;
}

.head-button button a {
  text-decoration: none;
  font-size: 20px;
}

.right {
  flex: 0.4;
}
.right span {
  width: 100%;
  height: 100%;
}

.right img {
  height: 488px;
  width: inherit;
}
@media screen and (max-width: 850px) {
  .header-bg {
    background: black;
  }
  .left {
    flex: 1;
    background: url("../assets/gif 2.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 250px;
  }
  .right {
    display: none;
  }
  .head-greeting,
  .head-button {
    text-align: center;
  }

  .head-dis {
    padding-top: 16%;
    margin-top: 100px;
    text-align: center ;
  }
  .head-button {
    margin-top: 40px;
  }
}

.transistion {
  height: 100px;
  background: linear-gradient(
    166deg,
    #00002a,
    #00001c,
    #050c12,
    #061019,
    #000001,
    black,
    #061019,
    #050c12
  );
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.transistion span h1 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: white;
  letter-spacing: normal;
}

.about {
  background-image: url("../assets/gif3.gif");
  height: 410px;
  background-size: 50%;
}

.about p {
  font-family: "Alegreya", serif;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .about p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1060px) {


  .about {
    background-size: 62%;
  }
}
@media screen and (max-width: 950px) {
  .about {
    background-size: 68%;
  }
}
@media screen and (max-width: 850px) {
  .about {
    background-size: 78%;
  }
}
@media screen and (max-width: 700px) {
  .about {
    height: 520px;
    background-size: 112%;
  }
}
@media screen and (max-width: 540px) {
  .about {
    height: 460px;
    background-size: 100%;
  }
}

@media screen and (max-width: 460px) {
  .about {
    height: fit-content;
    background-size: 100%;
  }
}

.skill-transistion {
  height: 100px;
  background: linear-gradient(
    166deg,
    #050c12,
    #050c12,
    #000024,
    #050c12,
    #000014,
    #050c12,
    #000000,
    #000000
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-transistion span h1 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: white;
  letter-spacing: normal;
}

.skill {
  background: linear-gradient(
    90deg,
    #00002c,
    #00001a,
    #000000,
    #000000,
    #000000
  );
  padding-top: 50px;
  padding-bottom: 50px;
}

.skill-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 90%;
  margin: auto;
  gap: 30px;
}
@media screen and (max-width: 850px) {
  .skill-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
}

.skill-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.progress-bar {
  display: block;
  text-align: center;
  height: 40px;
  background-color: inherit;
  border: 2px solid #13fefb;
  border-radius: 50px;
  margin: 0 auto;
}

.works-section {
  background: linear-gradient(
    90deg,
    #00002c,
    #00001a,
    #000000,
    #000000,
    #000000
  );

}
.work-heading {
  display: block;
  text-align: center;
  background-color: inherit;
  margin-bottom: 40px;
}

.work-heading h1 {
 font-family: "Anton", sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: white;
    letter-spacing: normal;
}

@media screen and (max-width: 768px ) {
  
.work-submain div {
  position: absolute;
  bottom: 30.5px;
  background-color: #000020;
  width: 96%;
  color: white;
  opacity: 1;
  animation: bounceIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  padding-bottom: 10px;
  text-align: center;
}

.work-submain div .hidden {
  display: none;
  visibility: hidden;
}

.work-submain div h1 {
  font-size: 20px

}
.work-submain div p {
  font-size: 12px;
}

}

.work-submain div button {
  height: 35px;
  width: 150px;
  border-radius: 20px;
  background-color: inherit;
  border: 2px solid white;
  color: white;

}

a {
  text-decoration: none;
}

.work-submain div h1,p {
  color: white;
}

.work-submain div h1 {
  font-size: 24px;
  padding: 10px;
}

.work-submain div p {
  font-size: 14px;
  padding: 5px;
}
@media screen and (min-width: 1900px) and (max-width: 2560px) {
    .work-heading {
      margin-bottom: 50px;
    }
    
    .work-heading h1 {
        font-size: 80px;
    } 
}
@media screen and (max-width: 1024px) {
    .work-heading {
      margin-bottom: 50px;
    }
    
    .work-heading h1 {
        font-size: 50px;
    } 
}

@media screen and (max-width: 768px) {
    .work-heading {
      margin-bottom: 40px;
    }
    
    .work-heading h1 {
        font-size: 45px;
    }
    
}
@media screen and (max-width: 450px) {
.work-heading {
  margin-bottom: 20px;
}

.work-heading h1 {
    font-size: 35px;
}
}

.portfolios {
  width: 90%; 
  margin: auto;
}
@keyframes bounceIn{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}