nav {
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 0;
}

.nav_background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.nav-menutoggle {
  z-index: 999999;
  position: relative;
  left: 13px;
  top: 30px;
  border: none;
  background: none;
  outline: none;
}

.nav-menutoggle svg {
  background: none;
}
.nav-menu-icon {
  height: 20px;
  width: 20px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.nav-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.menu {
  padding-top: 50px;
}
.menu span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu span svg {
  height: 40px;
  width: 40px;
}
@media screen and (max-width: 1100px) {
  .nav {
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  .nav {
    width: 80%;
  }
}
.nav a {
  text-decoration: none;
  font-size: 20px;
}
.nav a:hover {
  color: #f87537;
}

.nav a:active {
  color: #f87537;
}
.header {
  display: flex;
  padding-top: 70px;
  margin: auto;
  color: white;
}

.left {
  flex: 0.6;
  padding-top: 10em;
  padding-bottom: 5em;
}

.head-greeting {
  font-size: 50px;
  font-weight: 100;
  font-family: "Anton", sans-serif;
}
.head-name {
  font-size: 3.3em;
  color: white;
}

@media screen and (max-width: 500px) {
  .head-greeting {
    padding-bottom: 30px;
  }
  .head-name {
    font-size: 55px;
    text-align: center;
  }
}
.head-dis {
  padding-top: 4px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  font-family: "roboto", sans-serif;
  color: rgb(209, 209, 209);
}
.head-button {
  margin-top: 3.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.8em;
}
.head-button button {
  font-size: 18px;
  width: 190px;
  outline: none;
  border: none;
  color: white;
  background: linear-gradient(90deg, #0044ff, #03033b);
  height: 50px;
  font-weight: 500;
  border-radius: 50px;
}
.head-button button a {
  text-decoration: none;
  font-size: 20px;
  background: none;
  color: white !important;
}
.cv-download div {
  height: 50px;
  width: 190px;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(90deg, #0044ff, #03033b);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.right {
  flex: 0.4;
}
.right span {
  width: 100%;
  height: 100%;
}

.right img {
  height: 488px;
  width: inherit;
}
@media screen and (max-width: 850px) {
  .header-bg {
    background: black;
  }
  .left {
    flex: 1;
    background: url("../assets/gif 2.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 250px;
    padding-top: 2rem;
  }
  .right {
    display: none;
  }
  .head-greeting,
  .head-button {
    text-align: center;
  }

  .head-dis {
    padding-top: 20px;
    margin-top: 100px;
    text-align: center;
  }
  .head-button {
    margin-top: 40px;
  }
}

.transistion {
  height: 100px;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transistion span h1 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: white;
  letter-spacing: normal;
}

.about {
  height: fit-content;
  background-size: 50%;
  padding: 5em 0;
  background: none;
}

.about-flex {
  display: block;
  background: none;
  width: 80%;
  margin: auto;
}

.about-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 4em;
  background: none;
  align-items: center;
}

.about-img {
  display: flex;
  position: relative;
  flex: 0.4;
  background: none;
  z-index: 99;
}

.about-img svg {
  height: auto;
  width: 200%;
  background: none;
  position: absolute;
  top: -30%;
  left: -50%;
  z-index: -9;
  transform: rotate(53deg);
}

.about-img img {
  height: 400px;
  width: 100%;
  min-width: 338px;
  background: none;
}

.about-cont {
  display: flex;
  flex: 0.55;
  flex-grow: 1;
  flex-direction: column;
  background: none;
}
.about-cont-head {
  background: var(--text-clip-bg);
  font-size: 44px;
  font-weight: 800;
  font-family: var(--font-primary);
}
.about-cont p {
  padding-top: 30px;
  font-size: 18px;
  line-height: 1.6;
  font-family: var(--font-secondary);
  background: none;
}
.about-exp {
  margin-top: 18px;
}

.about-exp-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.about-exp-body span {
  width: 100%;
  display: block;
}

.about-exp-body span h2 {
  font-size: 38px;
  font-weight: 800;
  background: var(--text-clip-bg);
  font-family: var(--font-primary);
}

.about-exp-body span p {
  line-height: 1.6;
  padding-top: 0;
  font-family: var(--font-secondary);
}
.about-exp-soc {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.about-exp-soclist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
  gap: 0.8em;
}
.about-exp-soclist a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-exp-soclist a svg {
  height: 20px;

  width: 20px;
}

.skill-transistion {
  height: 100px;
  padding-top: 40px;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-transistion span h1 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: white;
  letter-spacing: normal;
}

.skill {
  background: inherit;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skill-grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  gap: 30px;
}
@media screen and (max-width: 850px) {
  .skill-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }
}

.skill-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.progress-bar {
  display: block;
  text-align: center;
  height: 40px;
  background-color: inherit;
  border: 2px solid #13fefb;
  border-radius: 50px;
  margin: 0 auto;
}

.works-section {
  margin-top: 2rem;
}

.home-c {
  display: block;
  margin: 3rem 0;
  margin-top: 5em;
}

.home-c-body {
  display: block;
  width: 80%;
  margin: auto;
}
.home-c-head {
  margin: 1.2rem 0;
  display: block;
  text-align: left;
}
.home-c-head h1 {
  background: var(--text-clip-bg);
  font-size: 3.2rem;
}

.home-c-form {
  display: block;
  margin-left: auto;
}
.home-c-form form {
  width: 400px;
  min-width: 350px;
  max-width: 450px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-c-form form span {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid whitesmoke;
  margin-top: 30px;
}

.home-c-form form .span_text {
  height: fit-content !important;
  align-items: flex-start !important;
}
.home-c-form form input {
  outline: none;
  border: none;
  margin-bottom: 0.8em;
  background: none;
  color: white;
  height: 40px;
  margin-left: 10px;
}

.home-c-form form textarea {
  width: 100%;
  min-height: 130px;
  color: white;
  border: none;
  outline: none;
  background: none;
}

.home-c-form form label {
  width: max-content;
  color: whitesmoke;
  padding-bottom: 10px;
}
.portfolios {
  margin: auto;
}
@keyframes bounceIn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.blog {
  height: 100vh;
  background: linear-gradient(
    90deg,
    #00002c,
    #00001a,
    #000000,
    #000000,
    #000000
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.beneyes {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.beneyes .be-left {
  left: 0px;
}
.beneyes .be-right {
  right: 0px;
}

.navlist-hide {
  z-index: -999;
}

.nav-list-show {
  z-index: 999 !important;
}

@media screen and (max-width: 1060px) {
  .about {
    background-size: 62%;
  }

  .about-img svg {
    width: 190%;
  }
  .about-cont {
    width: 90%;
  }
}
@media screen and (max-width: 950px) {
  .about {
    background-size: 68%;
  }
  .about-body {
    display: flex;
    flex-direction: column;
  }

  .about-flex {
    width: 90%;
  }
  .about-img svg {
    width: 170%;
    left: -38%;
  }
  .about-cont {
    width: 95%;
  }
}
@media screen and (max-width: 850px) {
  .about {
    background-size: 78%;
  }
  .about-body {
    display: flex;
    flex-direction: column;
  }

  .about-flex {
    width: 95%;
  }
  .about-exp-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-exp-soc {
    display: flex;
    flex-direction: column;
  }
  .about-exp-soclist {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .about {
    height: 520px;
    background-size: 112%;
  }
  .head-button {
    justify-content: center;
  }
  .skill {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 540px) {
  .about {
    height: 460px;
    background-size: 100%;
  }
  .about-img {
    overflow: hidden;
    width: 100%;
  }
  .about-img img {
    min-width: auto;
  }
  .about-img svg {
    width: 235%;
    left: -68%;
  }
  .left {
    background-position-y: 105px;
    padding-top: 0;
  }
  .head-dis {
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .about-exp-body span h2 {
    text-align: left;
  }
  .portfolios {
    width: 90%;
    margin: auto;
  }
  .cv-download div {
    background: white;
    color: black;
  }

  .cv-download div:hover {
    border: 2px solid var(--text-clip-bg);
  }
  .home-c {
    margin-top: 4.5em !important;
  }
}

@media screen and (max-width: 460px) {
  .about {
    height: fit-content;
    background-size: 100%;
  }
  .about-body {
    display: flex;
    flex-direction: column;
  }
  .about p {
    font-size: 18px;
  }
}
