@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Anton&family=Braah+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:700");
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-primary: "Source Sans 3", sans-serif;
  --font-secondary: "Nunito", sans-serif;
  --transition-time: 0.4s;
  --text-clip-bg: linear-gradient(to right, #f87537, #fba81f, #eee044);
  --progress-bg: linear-gradient(to right, #f87537, #fba81f);
}

* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-display: swap;
}

body {
  background: linear-gradient(
    90deg,
    #00002c,
    #00001a,
    #000000,
    #000000,
    #000000
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-display: swap;
}
p {
  font-family: var(--font-secondary);
}

.bounce-animation {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.secondary-button {
  height: 50px;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(90deg, #0044ff, #03033b);
  display: flex;
  align-items: center;
  padding: 5px 30px;
  justify-content: center;
  font-size: 18px;

  outline: none;
  border: none;
  color: white;
  font-weight: 500;
}

.text-clip {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.container-pages {
  display: block;
  width: 90%;
  margin: auto;
}
.head-spacer {
  height: 150px;
}
.container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-cont {
  width: 85%;
  margin: auto;
}
/* Breakpoints */
@media (max-width: 576px) {
  .container-sm {
    max-width: 540px;
  }
  .main-cont {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container-sm {
    max-width: 720px;
  }
  .main-cont {
    width: 93%;
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
.head-spacer {
  height: 80px;
}
  .container-pages {
    width: 95%;
  }
  .nav-menutoggle {
    left: 20px;
  }
}

@media (max-width: 992px) {
  .container-sm {
    max-width: 960px;
  }
  .main-cont {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .container-sm {
    max-width: 1140px;
  }
}

@media (max-width: 1400px) {
  .container-sm {
    max-width: 1320px;
  }
}
