@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Anton&family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url(https://fonts.googleapis.com/css?family=Lato:700);

* {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: linear-gradient(90deg,#00002c,#00001a,#000000,#000000,#000000);
}

body {
  background: linear-gradient(90deg,#00002c,#00001a,#000000,#000000,#000000);

}
p {
  font-family: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.bounce-animation {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}