@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Anton&family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url(https://fonts.googleapis.com/css?family=Lato:700);

* {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: inherit;
}

p {
  font-family: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}

